<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">
  <div @keyup.enter="send">
   <input v-model="search" placeholder="search" />
 </div>
 <div>
   <input type="checkbox" id="xkcd" v-model="xkcd" />
   <label for="checkbox">xkcd</label>
 </div>
 <div>
   <input type="checkbox" id="smbc" v-model="smbc" />
   <label for="checkbox">Saturday Morning Breakfast Cereal</label>
 </div>
 <li class="list-group" v-for="i in result">
   <a class="list-group-item" v-bind:href="i[0]">{{i[0]}}</a>
 </li>
 <div>{{variableForDebuging}}</div>

</div>

<script>
	  const debuggingToggler = true

  Vue.createApp({
    data() {
      return {
        xkcd: true,
        smbc:true,
        search:'',
        variableForDebuging: "",
        result:{},
        base: {}
      }
    },

    methods:{
      send(event){
        if (debuggingToggler)
        {

          axios
            .get('/base')
            .then(response => {
              this.base = response.data
              this.result = {}
              for (const [key, value] of Object.entries(this.base)) {

                var matchExists = false;

                this.search.split(' ').forEach((element) => {

                  if (value.includes(element.toUpperCase())){
                    if (matchExists) { this.result[key] +=1; }
                    else {
                      matchExists = true;
                      this.result[key] = 1;
                    }

                  }
                });
              }

              var items = Object.keys(this.result).map(
                (key) => { return [key, this.result[key]] });

              items.sort(
                (first, second) => { return first[1] - second[1] }
              ).reverse();
              this.result = items;

            })

        }
        else{
        if (event !== ''){
          this.result = {}
          for (const [key, value] of Object.entries(base)) {

            var matchExists = false;

            this.search.split(' ').forEach((element) => {

              if (value.includes(element.toUpperCase())){
                if (matchExists) { this.result[key] +=1; }
                else {
                  matchExists = true;
                  this.result[key] = 1;
                }

              }
            });
          }

          var items = Object.keys(this.result).map(
            (key) => { return [key, this.result[key]] });

          items.sort(
            (first, second) => { return first[1] - second[1] }
          ).reverse();
          this.result = items;

        }}
      }
    },
    
    mounted(){
      this.variableForDebuging = 'd';
    }

  }).mount('#app')
</script>
